{% extends 'layouts/base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="./styles/signin.css">
{% endblock %}

{% block body %}

	<section id="connexion" class="form-signin">
		<form method="post">
			<img class="mb-4 d-block mx-auto rounded" src="./assets/images/connect-image.jpg" alt="ECF Studi" width="90" height="75">
			<h1 class="h3 mb-3 fw-normal text-center">Connectez-vous</h1>

			{% if error %}
				<div class="alert alert-danger">
					{{ error.messageKey | trans(error.messageData, 'security') }}
				</div>
			{% endif %}

			<div class="form-floating">
				<input name="email" type="email" value="{{ last_username }}" class="form-control" id="inputEmail" placeholder="user@email.fr">
				<label for="email" >Adresse Email</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Votre mot de passe">
				<label for="floatingPassword">Mot de passe</label>
			</div>

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" value="remember-me"> Se souvenir..
				</label>
			</div>

			<div>
				<button class="w-100 btn btn-md btn-success" type="submit">
					<i class="fas fa-sign-in-alt"></i>
					Se connecter
				</button>
			</div>

			<div class="col-12">
				<span>Pour vous inscrire </span>
				<a href=" {{path('app_inscription')}} ">cliquer ici</a>
			</div>

			{# ! Le csrf token #}
			<input hidden type="text" name="_csrf_token" value="{{csrf_token('authenticate')}}">
		</form>
	</section>
{% endblock %}
