{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="./styles/panier.css">
{% endblock %}

{% block body %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">VOTRE RESEVERVATION</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Livres</th>
                            <th scope="col" class="text-center">Quantité</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {# ? Livre 1 #}
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/6c1f75/fff.jpg&text=Livre+1" /> </td>
                            <td><span class="text-dark">Livre 1</span></td>
                            <td><input class="form-control text-center" type="text" value="1" /></td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button id="add-one-{id}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> </button> 
                                    <button id="delete-one-{id}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> 
                                </div>
                            </td>
                        </tr>
                        {# ? Livre 2 #}
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/6c1f75/fff.jpg&text=Livre+2" /> </td>
                            <td><span class="text-warning-perso">Livre 2</span></td>
                            <td><input class="form-control text-center" type="text" value="2" /></td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button id="add-one-{id}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> </button> 
                                    <button id="delete-one-{id}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> 
                                </div>
                            </td>
                        </tr>
                        {# ? Livre 3 #}
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/6c1f75/fff.jpg&text=Livre+3" /> </td>
                            <td><span class="text-warning-perso">Livre 3</span></td>
                            <td><input class="form-control text-center" type="text" value="3" /></td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button id="add-one-{id}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> </button> 
                                    <button id="delete-one-{id}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> 
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-success w-50 mb-5 me-1">
            Confirmer la réservation
        </button>
         <a href="{{path('app_livre')}}" class="btn btn-outline-danger w-50 mb-5 ms-1">Annuler</a>
    </div>

</div>


{% endblock %}
