<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <span class="navbar-brand mb-0 h1 ms-3">
        <a class="text-decoration-none text-success" href="{{path('app_home')}}">Médiathèque</a>
    </span>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	{% if app.user %}
		{% if app.user.isAutorise %}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav p-2">

					<li class="nav-item">
						<a class="nav-link" href="{{path('app_livre')}}">Tous nos livres</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Rechercher un livre</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_panier')}}">Panier</a>
					</li>

					{% if is_granted ("ROLE_LIBRAIRE") %}
						<li class="nav-item">
							<a class="nav-link" href="#">Ajouter un livre</a>
						</li>
					{% endif %}

					{% if is_granted ("ROLE_ADMIN") %}
						<li class="nav-item">
							<a class="nav-link" href="admin">Admin</a>
						</li>
					{% endif %}

				</ul>
				<ul class="nav navbar-nav ms-auto">
					<li>
						<a class="btn btn-sm btn-outline-danger px-3 m-1 me-5" href="{{path('app_logout')}}">
							Déconnexion
						</a>
					</li>
				</ul>
			</div>
		{% endif %}
	{% endif %}
</nav>
