{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <section class="row container">
        <div class="col-12 mb-5">
            <div class="jumbotron">
                <h1 class="display-4">Administration</h1>
                <p class="lead">Bienvenue dans l'interface d'administration de l' ECF-Mediatheque de <b>Studi</b> 2021.</p>
            </div>
        </div>

    <hr>

    {{ include("admin/check_user.html.twig") }}
        {#
            1. Récupérer le nombre d'oeuvre total de la bibliothèque
            2. Comptabiliser le nombres d'oeuvre prété
            3. Comptabiliser le nombres d'oeuvre disponible au prêt
            4. Afficher la liste des adhérents qui sont en retard
        #}
{% endblock %}