{% extends 'layouts/base.html.twig' %}

{# ? Création des variables perso #}
{% set queryParams = app.request.query.all %}

{% block body %}

	<div class="container-fluid">
		<div class="row flex-nowrap">
		{# ? Filtre par catégorie #}

		<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
			{% include 'livre/_filtre_genre.html.twig' %}
		</div>

		{# ? Afficher les cartes "Livre" #}
			<div class="col py-3" id="livres">
				<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3" id="content">
					{% include "livre/_content_ajax.html.twig" %}
				</div>
			</div>
		</div>
	</div>

	{# ? Inclure la pagination #}
	{% include 'partials/_pagination.html.twig' %}

{% endblock %}

	{# ? JS pour afficher le résultat des filtres => AJAX #}
	{% block javascripts %}
		<script src="{{ asset('js/filtres.js') }}"></script>
	{% endblock %}
