{# {% extends '@EasyAdmin/layout.html.twig' %} #}
{# templates/admin/my-custom-page.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}The Title of the Page{% endblock %}

{% block page_actions %}
	<a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}
{% block content %}
	<h1 class="text-center p-2">Réservations</h1>
{% endblock %}

{% endblock %}

