{# {% extends '@EasyAdmin/layout.html.twig' %} #}
{#
{% stylesheets %}
    cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css
{% en %}
#}


{% block title %}Confirmation{% endblock %}

{% block body %}
    <h1>Confirmation Controller</h1>

    <section id="message" class="container">
        {{ include("layouts/partials/_flash_messages.html.twig") }}
    </section>

{% endblock %}

